[run]
branch = True
source = abil_urdocaller

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if __name__ == "__main__":
    except OSError
    def check_params
    raise OSError
    except ValueError
    except subprocess.CalledProcessError
    if sample_results[sample_name] == {}:
    
ignore_errors = True
omit = tests/*