[run]
branch = True
source = abil_urdocaller

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    if __name__ == "__main__":
    except OSError
    except ValeuError
ignore_errors = True
omit = tests/*